<launch>

<rosparam file="$(find MMRobot_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/MMRobot" args="SteeringFrontRight_position_controller SteeringRearRight_position_controller SteeringFrontLeft_position_controller SteeringRearLeft_position_controller WheelRearLeft_position_controller WheelRearRight_position_controller WheelFrontRight_position_controller WheelFrontLeft_position_controller Joint0_position_controller Joint1_position_controller Joint2_position_controller Joint3_position_controller Joint4_position_controller Joint5_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/MMRobot/joint_states"/>
</node>

</launch>