<launch>

<rosparam file="$(find mm_robot_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="mm_robot" args="right_rear_str_position_controller right_rear_vel_position_controller right_front_str_position_controller right_front_vel_position_controller left_front_str_position_controller left_rear_str_position_controller left_rear_vel_position_controller left_front_vel_position_controller joint0_position_controller joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller joint5_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/mm_robot/joint_states"/>
</node>

</launch>